@use './styles/theme' as *;
@use './styles/component' as *;
@use './styles/grid' as *;

// Example usage:
body {
  background-color: $background;
  color: $text;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

